<div
  class="w-full h-32 bg-sidebar rounded-lg px-5 py-4 flex mb-4 justify-around"
>
  <div class="flex items-center">
    <div class="self-center text-slate-300 text-sm">
      <p class="text-lg font-semibold">JOSE ROCON TELL</p>
      <p>joserocon&#64;gmail.com</p>
    </div>
  </div>
  <div class="flex items-center">
    <div class="self-center text-slate-300 text-sm">
      <p class="text-lg font-semibold">MIEMBRO</p>
    </div>
  </div>
  <div class="flex items-center">
    <div class="self-center text-slate-300 text-sm">
      <p class="text-lg font-semibold">GRUPO 1 - HACKING CON PYTHON</p>
    </div>
  </div>
  <div class="flex items-center">
    <button class="hover:bg-boton-hover p-1 rounded-lg w-fit h-fit">
      <lucide-icon [img]="Pencil" color="#cbd5e1" [size]="21"></lucide-icon>
    </button>
    <button class="hover:bg-boton-hover p-1 rounded-lg w-fit h-fit">
      <lucide-icon [img]="Trash2" color="#cbd5e1" [size]="21"></lucide-icon>
    </button>
  </div>
</div>
