<div class="w-full flex">
  <div class="hidden md:block md:w-[260px] h-screen fixed">
    <app-sidebar />
  </div>
  <div class="ml-[260px] w-full">
    <app-header />

    <mat-drawer-container [hasBackdrop]="hasBackdrop">
      <mat-drawer
        #sidenavId
        class="custom-drawer"
        [mode]="mode"
        [position]="position"
        [autoFocus]="false"
      >
        <app-sidenav />
      </mat-drawer>
      <mat-drawer-content>
        <main class="p-6">
          <router-outlet />
        </main>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
