<div class="px-[110px]">
  <div class="max-h-[826px] overflow-hidden grid grid-cols-2 gap-2">
    <div class="bg-sidebar rounded-lg p-6 grid grid-rows-6">
      <!-- Primer contenedor -->
      <div class="row-span-1 h-[200px]">
        <h1 class="text-white font-semibold mb-4 text-lg">
          MIEMBROS DE GRUPO 1 - HACKING CON PYTHON
        </h1>
        <div class="mb-6">
          <input
            type="text"
            class="w-full bg-slate-300 focus:bg-white focus:outline-none rounded-lg py-1 px-2"
          />
        </div>
      </div>
      <!-- Contenedor para miembros -->
      <div class="row-span-5 overflow-auto h-[500px] bg-green-200">
        <!-- CARD-MEMBER -->
        <div class="mb-4">
          <div class="bg-todo-card rounded-lg text-slate-300">
            <div class="px-3 py-1">
              <h3 class="font-semibold">JOSE PEREZ GOMEZ</h3>
              <p class="text-sm">joseperez&#64;gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-rows-5 gap-2 h-full">
      <div class="bg-sidebar rounded-lg row-span-2"></div>
      <div class="bg-sidebar rounded-lg row-span-3"></div>
    </div>
  </div>
</div>
