<div class="px-[110px]">
  <div class="max-h-[826px] h-full grid grid-cols-2 gap-2">
    <div
      class="bg-sidebar max-h-[826px] min-h-[826px] rounded-lg p-6 grid grid-rows-6"
    >
      <!-- Primer contenedor -->
      <div class="row-span-1 flex flex-col gap-3">
        <h1 class="text-white font-semibold mb-4 text-xl">
          MIEMBROS DE GRUPO 1 - HACKING CON PYTHON
        </h1>
        <div class="mb-6">
          <input
            type="text"
            class="w-full bg-slate-300 focus:bg-white focus:outline-none rounded-lg py-1 px-2"
          />
        </div>
      </div>
      <!-- Contenedor para miembros -->
      <div class="row-span-5 overflow-auto h-full">
        <!-- CARD-MEMBER -->
        <div class="mb-2">
          <div class="bg-todo-card rounded-lg text-slate-300">
            <div class="px-3 py-2">
              <h3 class="font-semibold">JOSE PEREZ GOMEZ</h3>
              <p class="text-sm">joseperez&#64;gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-h-[826px] grid grid-rows-5 gap-2 h-full">
      <div
        class="bg-sidebar rounded-lg row-span-1 flex gap-2 px-28 py-6 justify-around"
      >
        @for(item of stats; track item){
        <div
          class="bg-todo-card rounded-lg text-white flex flex-col justify-between w-fit items-center px-4 py-6"
        >
          <p class="text-5xl">10</p>
          <p class="text-sm mt-2">En Lista</p>
        </div>
        }
      </div>
      <div class="bg-sidebar rounded-lg row-span-4 p-6 grid grid-rows-12">
        <h1 class="text-white font-semibold text-2xl mb-4">Backlog</h1>
        <div class="w-full row-span-11 py-1 overflow-auto">
          <div class="bg-todo-card rounded-lg text-slate-300 mb-4">
            <div class="px-3 py-4 flex justify-between">
              <h3 class="font-semibold">Realización de todas tareas CBG-1</h3>
              <div>
                <select>
                  <option value="">Hola 1</option>
                  <option value="">Hola 2</option>
                  <option value="">Hola 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
