<div>
  <div class="px-[110px]">
    <app-search-bar />
    <div class="mt-4">
      <div
        class="w-full bg-sidebar rounded-lg py-4 flex justify-around mb-4 text-slate-300 font-bold"
      >
        <p>NOMBRE</p>
        <p>ROL</p>
        <p>SALA</p>
        <p>ACCIONES</p>
      </div>
      <app-member-card />
      <app-member-card />
      <app-member-card />
      <app-member-card />
      <app-member-card />
      <app-member-card />
      <app-member-card />
      <app-member-card />
    </div>
  </div>
</div>
