<aside class="w-full h-full bg-sidebar text-gray-400">
  <div class="px-4 py-4 flex gap-2 items-center">
    <div class="w-[32px] h-[32px] bg-todo rounded-md"></div>
    <div>
      <p class="font-semibold text-sm">Espacio de trabajo de Trello</p>
      <p class="text-xs">Gerente</p>
    </div>
  </div>
  <hr class="my-4 mt-0 h-[1px] border-t-0 bg-neutral-100 dark:bg-white/10" />

  <div>
    <ul class="list-none">
      @for(item of sidebarService.showNawLinks; track item.id){
      <li
        [routerLink]="[item.route]"
        routerLinkActive="bg-boton-hover text-white font-semibold"
        class="flex gap-3 items-center text-sm hover:bg-boton-hover px-6 py-2 cursor-pointer"
      >
        <svg-icon src="{{ item.link }}"></svg-icon>
        {{ item.title }}
      </li>
      }
    </ul>
  </div>

  <div class="px-4 text-sm font-bold my-2">
    <p>Vistas del Espacio de trabajo</p>
  </div>

  <div>
    <ul class="list-none">
      @for(item of sidebarService.showNavLinksStatics; track item.id){
      <li
        class="flex gap-3 items-center text-sm hover:bg-boton-hover px-6 py-2 italic"
      >
        <svg-icon src="{{ item.link }}"></svg-icon>
        {{ item.title }}
      </li>
      }
    </ul>
  </div>

  <div class="px-4 text-md font-bold my-2">
    <p>Sus tableros</p>
  </div>

  <div>
    <ul class="list-none">
      <!-- PROVICIONAL -->
      <li
        [routerLink]="['/core/panel/todos']"
        routerLinkActive="bg-boton-hover text-white font-semibold"
        class="flex gap-3 items-center text-sm hover:bg-boton-hover px-6 py-2 cursor-pointer"
      >
        <div class="w-[24px] h-[18px] bg-todo"></div>
        Tableros
      </li>
    </ul>
  </div>
</aside>
