<div
  class="w-full h-32 bg-sidebar rounded-lg px-6 py-4 flex mb-4 justify-between"
>
  <div class="flex items-center">
    <div class="w-20 h-20 bg-orange-400 rounded-full"></div>
    <div class="self-center ml-6 text-slate-300 text-sm">
      <p class="text-xl font-semibold">GRUPO 1 - HACKING CON PYTHON</p>
      <p>Creador: Gino Alejandro</p>
    </div>
  </div>
  <div class="flex items-center">
    <div class="flex gap-4 items-center">
      <div class="bg-todo-card text-slate-300 px-3 py-4 rounded-lg">
        <p class="text-center text-3xl mb-2">12</p>
        <p class="text-center text-sm">En linea</p>
      </div>
      <div class="bg-todo-card text-slate-300 px-3 py-4 rounded-lg">
        <p class="text-center text-3xl mb-2">3</p>
        <p class="text-center text-sm">En Curso</p>
      </div>
      <div class="bg-todo-card text-slate-300 px-3 py-4 rounded-lg">
        <p class="text-center text-3xl mb-2">100</p>
        <p class="text-center text-sm">Terminado</p>
      </div>
      <div class="flex gap-2 mx-4">
        <button class="hover:bg-boton-hover p-1 rounded-lg w-fit h-fit">
          <lucide-icon [img]="LogIn" color="#cbd5e1" [size]="21"></lucide-icon>
        </button>
        <button class="hover:bg-boton-hover p-1 rounded-lg w-fit h-fit">
          <lucide-icon [img]="Pencil" color="#cbd5e1" [size]="21"></lucide-icon>
        </button>
        <button class="hover:bg-boton-hover p-1 rounded-lg w-fit h-fit">
          <lucide-icon [img]="Trash2" color="#cbd5e1" [size]="21"></lucide-icon>
        </button>
      </div>
    </div>
  </div>
</div>
